<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Thai ID Card OCR</title>
</head>
<body>
    <h1>Thai ID Card OCR</h1>

    <h3>Please choose your ID card to get its details</h3>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <!-- Form for uploads -->

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg">
        <button type="submit">Upload</button>
    </form>
    
    {% if result %}
    <h2>OCR Result:</h2>
    <table>
        <tr>
            <td><h3>Identification Number</h3></td>
            <td><h3>First Name</h3></td>
            <td><h3>Last Name</h3></td>
            <td><h3>Date Of Birth</h3></td>
        </tr>
        {% for d in result.data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>
                <!-- Form for delete -->
                <form action="/delete" method="post">
                    <input type="hidden" name="identification_number" value="{{ d.0 }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <!-- Form for update -->
                <form action="/update" method="post">
                    <input type="hidden" name="identification_number" value="{{ d.0 }}">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" value="{{ d.1 }}" required>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" value="{{ d.2 }}" required>
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="text" name="date_of_birth" value="{{ d.3 }}" required>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}

</body>
</html>